<div class="header">
	<div class="text-center">
		<img id="showheader" src="http://healthoholics.com/wp-content/uploads/2015/09/Blog-header-jan-6th.jpg" >
	</div>
</div>

<div id="article" class="container">
	<div class="text-center">
		<img id="showimage" src="<%= @recipes.image_url %>" >
	</div><br>
	<div class="text-center">
		<h3><%= @recipes.name %><h3><br>
		<h5>Servings: </h5><h6><%= @recipes.servings %></h6>
		<h5>Difficulty: </h5><h6><%= @recipes.difficulty %></h6>
		<h5>Directions: </h5><h6><%= @recipes.directions %></h6>
		
		<h5>Ingredients: </h5><h6><%= @ingredients.name %></h6>
	


	</div>
</div>

<div id="article" class="container">
	  <div class="text-center">
		<p> <%= link_to "Go Back", recipes_path %> </p>
	</div>
</div>
